---
- name: "Play 2: Create VMs on Chameleon"
  hosts: LocalMC # this alias is specified in the Inventory file
  remote_user: "{{ local_user }}"
  gather_facts: no
  become: false # No need for sudo as we are not installing anything
  collections:
    - ansible-base
    - openstack.cloud.collection
  vars_files:
    - variables.yaml
  tasks:
    - name: Create a new VM instance
      os_server:
        state: present
        auth:
          project_name: "{{ project_id }}"
          auth_url: "{{ auth_url }}"
          project_domain_name: "{{ project_domain_name }}"
        name: "{{ item }}"
        flavor: "{{ flavor }}"
        image: "{{ image }}"
        key_name: "{{ keypair }}"
        network: "{{ network }}"
        security_groups: "{{ security_groups }}"
        auto_ip: "false"
      loop:
        - "{{ instance_name }}-1"
        - "{{ instance_name }}-2"
        - "{{ instance_name }}-3"
        - "{{ instance_name }}-4"
      register: vm

    - name: Display VM info
      debug:
        var: vm
